gliner==0.2.26
faiss-cpu==1.13.2
sentence-transformers==5.2.3
rank-bm25==0.2.2
datasets==4.7.0
huggingface-hub[cli]==1.6.0
transformers==5.1.0
numpy==2.4.3
pandas==3.0.1
scipy==1.17.1
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
tqdm==4.67.3
jsonlines==4.0.0
packaging==26.0
pyyaml==6.0.3
pytest==9.0.2
ruff==0.15.5